.footer {
    padding: 6rem 30px 3rem;
    font-size: 15px;
    line-height: 2;
    color: rgba(255, 255, 255, 0.3);
    background: #111111;
}

.about-glint {
    margin-bottom: 2rem;
}

.about-glint__logo {
    margin: 0 auto 2rem auto;
    width: 85px;
    height: 28px;
}

.get-notified {
    margin-bottom: 2rem;
}

.get-notified__heading {
    margin-bottom: 2rem;
    color: white;
}

.subscribe input, button {
    width: 100%;
    border: none;
    height: 3rem;
    text-align: center;
    font-size: 15px;
}

.subscribe__email {
    background: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.5);
    padding: 1.2rem 20px 1.2rem;
    margin-bottom: 1rem;
    font-size: 0.75rem;
}

.subscribe__button {
    background: #39b54a;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.copyright {
    margin-top: 6rem;
    font-size: 14px;
    text-align: center;
}

.copyright span {
    display: block;
}

.copyright a {
    text-decoration: none;
    color: white;
}

.scroll-top-button {
    display: none;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 0px;
    right: 0px;
    z-index: 100;
    border: none;
    outline: none;
    background-color: rgba(57, 54, 54, 0.5);
}

.scroll-top-button img {
    width: 15px;
    height: 15px;
}
