@font-face {
    font-family: "monsterrat-medium";
    src: url('../fonts/montserrat-medium-webfont.woff2') format("woff2");
}

@font-face {
    font-family: "monsterrat-semibold";
    src: url('../fonts/montserrat-semibold-webfont.woff2') format("woff2");
}

@font-face {
    font-family: "lora-regular";
    src: url('../fonts/lora-regular-webfont.woff2') format("woff2");
}

@font-face {
    font-family: "monsterrat-bold";
    src: url('../fonts/montserrat-bold-webfont.woff2') format("woff2");
}

@font-face {
    font-family: "monsterrat-light";
    src: url('../fonts/montserrat-bold-webfont.woff2') format("woff2");
}

.font-montserrat-medium {
    font-family: "montserrat-medium", sans-serif;
}

.font-montserrat-semibold {
    font-family: "montserrat-semibold", sans-serif;
}

.font-montserrat-bold {
    font-family: "montserrat-bold", sans-serif;
}

.font-montserrat-light {
    font-family: "montserrat-light", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.header_and_greeting {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("https://colorlib.com/etc/glint/images/hero-bg.jpg");
    background-size: cover;
    background-position: center center;
    height: 946px;
    position: relative;
}

body {
    font-family: "lora-regular", serif;

}

.header_elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    background-color: transparent;
    width: 100%;
    height: auto;
    position: fixed;
}

img {
    max-width: 100%;
    height: auto;
}

.header_logo {
    width: 80px;
}

.greeting {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 200px 30px 100px 30px;
    text-align: center;
}

h1 {
    color: white;
    font-size: 33px;
    margin-bottom: 16px;
    line-height: 1.3em;
}

.greeting-main-welcome h3 {
    color: rgba(255, 255, 255, 0.5);
    margin: 0 0 12px 6px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.greeting-main-welcome a {
    color: white;
    text-decoration: none;
    padding: 50px;
}

.greeting-main-welcome-buttons {
    padding-top: 12px;
    max-width: 500px;
}

.greeting-main-welcome-buttons > div {
    width: 100%;
    height: 60px;
    padding-top: 20px;
    margin-top: 15px;
    border: 2px solid white;
    text-transform: uppercase;
    font-size: 14px;
}

.greeting-scroll-down {
    height: auto;
    padding-top: 200px;
    width: 100%;
}

.scroll-down-button a {
    text-decoration: none;
    position: absolute;
    right: 2.5rem;
    bottom: 7%;

}

.scroll-down-button span {
    font-size: 10px;
    text-transform: uppercase;
    padding-left: 5px;
    padding-bottom: 5px;
    color: #FFFFFF;
    letter-spacing: .1rem;
}

.scroll-down-line {
    display: block;
    width: 1px;
    height: 5rem;
    background-color: #39b54a;
    position: absolute;
    right: 2rem;
    bottom: 0;
}

.stats {
    width: 100%;
    background-color: #39b54a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 150px 30px 100px 30px;
    text-align: center;
    position: relative;
}

.scroll-down-line-2 {
    display: block;
    width: 1px;
    height: 5rem;
    background-color: white;
    position: absolute;
    right: 2rem;
    top: 0;
}

.stats-heading h2 {
    color: white;
    padding-top: 10px;
    font-size: 30px;
    letter-spacing: .1rem;
}

.stats-heading h4 {
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.stats-count-block {
    padding-top: 20px;
}

.stats hr {
    margin: 40px 0px 20px 0px;
    color: white;
    height: 1px;
    width: 200px;
}

.text-before-stats p {
    font-size: 16px;
    margin: 20px 0px 20px 0px;
    line-height: 1.5em;
}

.stats-count {
    font-size: 74px;
    color: white;
}