@font-face {
    font-family: "monsterrat-medium";
    src: url('../fonts/montserrat-medium-webfont.woff2') format("woff2");
}

@font-face {
    font-family: "monsterrat-semibold";
    src: url('../fonts/montserrat-semibold-webfont.woff2') format("woff2");
}

@font-face {
    font-family: "lora-regular";
    src: url('../fonts/lora-regular-webfont.woff2') format("woff2");
}

@font-face {
    font-family: "monsterrat-bold";
    src: url('../fonts/montserrat-bold-webfont.woff2') format("woff2");
}

@font-face {
    font-family: "monsterrat-light";
    src: url('../fonts/montserrat-bold-webfont.woff2') format("woff2");
}

.font-montserrat-medium {
    font-family: "montserrat-medium", sans-serif;
}

.font-montserrat-semibold {
    font-family: "montserrat-semibold", sans-serif;
}

.font-montserrat-bold {
    font-family: "montserrat-bold", sans-serif;
}

.font-montserrat-light {
    font-family: "montserrat-light", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: "lora-regular", serif;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header_and_greeting {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("https://colorlib.com/etc/glint/images/hero-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 946px;
    position: relative;

}

h1 {
    color: white;
    font-size: 33px;
    margin-bottom: 16px;
    line-height: 1.3em;
}

.header-and-greeting {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../img/hero-bg.jpg');
    background-size: cover;
    background-position: center center;
    height: 946px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 2;
}

.header__logo {
    width: 80px;
}

.greeting-main__intro {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 200px 30px 100px 30px;
    text-align: center;
}

.greeting-main__heading1 {
    color: rgba(255, 255, 255, 0.5);
    margin: 0 0 12px 6px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.greeting-main__buttons {
    padding-top: 12px;
    max-width: 500px;
}

.greeting-main__buttons a {
    color: white;
    padding: 50px;
    font-size: 12px;
    letter-spacing: .25rem;
}

.greeting-main__buttons > div {
    width: 100%;
    height: 60px;
    padding-top: 20px;
    margin-top: 15px;
    border: 2px solid white;
    text-transform: uppercase;
    font-size: 14px;
}

.greeting-main__sm {
    display: none;
}

.greeting-scrolling {
    height: auto;
    padding-top: 200px;
    width: 100%;
}

.greeting-scrolling__button a {
    position: absolute;
    right: 2.5rem;
    bottom: 7%;

}

.greeting-scrolling__button span {
    font-size: 10px;
    text-transform: uppercase;
    padding-left: 5px;
    padding-bottom: 5px;
    color: white;
    letter-spacing: .1rem;
}

.greeting-scrolling__line {
    display: block;
    width: 1px;
    height: 5rem;
    background-color: #39b54a;
    position: absolute;
    right: 2rem;
    bottom: 0;
}

.top-return-button {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 0;
    right: 0;
    z-index: 100;
    border: none;
    outline: none;
    background-color: rgba(57, 54, 54, 0.5);
}

.top-return-button img {
    width: 15px;
    height: 15px;
}
