@font-face {
    font-family: "monsterrat-medium";
    src: url('../fonts/montserrat-medium-webfont.woff2') format("woff2");
}

@font-face {
    font-family: "monsterrat-semibold";
    src: url('../fonts/montserrat-semibold-webfont.woff2') format("woff2");
}

@font-face {
    font-family: "lora-regular";
    src: url('../fonts/lora-regular-webfont.woff2') format("woff2");
}

@font-face {
    font-family: "monsterrat-bold";
    src: url('../fonts/montserrat-bold-webfont.woff2') format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: "lora-regular", serif;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

h1 {
    color: white;
    font: 33px "monsterrat-medium", sans-serif;
    margin-bottom: 16px;
    line-height: 1.3em;
}

.header-and-greeting {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../img/hero-bg.jpg');
    background-size: cover;
    background-position: center center;
    height: 946px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 2;
}

.header__logo {
    width: 80px;
}

.greeting {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 200px 30px 100px 30px;
    text-align: center;
}

.greeting-main__heading1 {
    color: rgba(255, 255, 255, 0.5);
    margin: 0 0 12px 6px;
    font: 16px "monsterrat-medium", sans-serif;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.greeting-main__buttons {
    padding-top: 12px;
    max-width: 500px;
    margin: 0 auto;
}

.greeting-main__buttons a {
    color: white;
    padding: 50px;
}

.greeting-main__buttons > div {
    width: 100%;
    height: 60px;
    padding-top: 20px;
    margin-top: 15px;
    border: 2px solid white;
    text-transform: uppercase;
    font: 14px "monsterrat-medium", sans-serif;
}

.greeting-scrolling {
    height: auto;
    padding-top: 200px;
    width: 100%;
}

.greeting-scrolling__button a {
    position: absolute;
    right: 2.5rem;
    bottom: 7%;

}

.greeting-scrolling__button span {
    font-family: "monsterrat-semibold", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    padding-left: 5px;
    padding-bottom: 5px;
    color: #FFFFFF;
    letter-spacing: .1rem;
}

.greeting-scrolling__line {
    display: block;
    width: 1px;
    height: 5rem;
    background-color: #39b54a;
    position: absolute;
    right: 2rem;
    bottom: 0;
}

.stats {
    width: 100%;
    background-color: #39b54a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 150px 30px 100px 30px;
    text-align: center;
    position: relative;
}

.stats-scrolling__line {
    display: block;
    width: 1px;
    height: 5rem;
    background-color: white;
    position: absolute;
    right: 2rem;
    top: 0;
}

.stats-title__heading {
    font-family: "monsterrat-bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.stats-title__subheading {
    font-family: "monsterrat-medium", sans-serif;
    color: white;
    padding-top: 10px;
    font-size: 30px;
    letter-spacing: .1rem;
}

.stats-counter {
    padding-top: 20px;
}

.stats hr {
    margin: 40px 0px 20px 0px;
    color: white;
    height: 1px;
    width: 200px;
}

.stats-text {
    font-size: 16px;
    margin: 20px 0px 20px 0px;
    line-height: 1.5em;
}

.stats-counter__item1 {
    font: 74px "monsterrat-bold", sans-serif;
    color: white;
}

.stats-counter__item2 {
    font-family: "monsterrat-semibold", sans-serif;
}

