@media (min-width: 501px) {
    .greeting-main__sm {
        display: block;
    }

    .greeting-main {
        display: flex;
        justify-content: space-around;
        align-items: center;


    }

    .greeting-main__intro {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        align-items: flex-start;
        width: 80%;
        padding-right: 10%;
    }

    .greeting-main__sm-item {
        padding: 0.5rem 0 1rem 0;
        width: 1.5rem;
    }

    .greeting-main__sm-list {
        padding-top: 2rem;
    }
}