@media (min-width: 601px) {
    * {
        font-size: 18px;
    }

    .greeting-main__heading2 h1 {
        font-size: 3rem;
    }

    .greeting-main__button {
        font-size: 1rem;
        width: 70%;
    }

    .stats-numbers hr {
        display: none;
    }

    .stats-numbers {
        display: flex;
        flex-wrap: wrap;
        width: 500px;
        justify-content: center;
    }

    .stats-counter {
        margin: 20px 0;
        width: 50%;
    }

    .stats-counter:nth-child(odd) {
        padding-right: 30px;
    }

    .stats-counter:nth-child(even) {
        border-left: 1px solid white;
        padding-left: 30px;
    }

    .works-list {
        margin-top: -55%;
    }

    .contact-details {
        justify-content: left;
        text-align: left;
        padding-left: 30px;
    }

    .contact-details__sm-list {
        justify-content: left;
    }

    .footer {
        padding: 6rem 50px 3rem 50px;
    }

    .about-glint__logo {
        margin: 0 0 2rem 0;
    }

    .subscribe {
        display: flex;
    }

    .subscribe__email {
        width: 70%;
        text-align: left;
        padding-left: 20px;
        font-size: 0.8rem;
    }

    .subscribe__button {
        width: 30%;
        font-size: 10px;
    }

    .copyright {
        display: flex;
        justify-content: center;
    }

    .copyright-item:first-child::after {
        content: "|";
        display: inline-block;
        padding: 0 1rem 0 1.2rem;
        color: rgba(255, 255, 255, .05);
    }
}

@media (min-width: 801px) {

    .greeting-main {
        margin: 0 10%;
    }

    .greeting-main__heading1 h3 {
        font-size: 1.2rem;
    }

    .greeting-main__heading2 h1 {
        font-size: 3.2rem;
    }

    .greeting-main__buttons {
        display: flex;
        width: 80%;
        margin-top: 50px;

    }

    .greeting-main__button:first-child {
        margin-right: 20px;
    }

    .services-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .services-list__item {
        margin: 20px 0;
        width: 40%;
        text-align: left;
    }

    .services-list__item:nth-child(even) {
        padding-left: 25px;
    }

    .services-list__item:nth-child(odd) {
        padding-right: 25px;
    }

    .works-list {
        margin-top: -45%;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 200px;
    }

    .works-list__photo {
        width: 50%;
        height: 350px;
    }

    .clients-techstack-images__li {
        width: 25%;
    }

    .clients-techstack-images__li:nth-child(4) {
        display: block;
    }

    .clients-feedback {
        width: 60%;
    }

    .clients-feedback-dots {
        display: none;
    }

    .clients-techstack-buttons {
        display: block;
    }

    .clients-techstack-button:nth-child(2) {
        position: absolute;
        bottom: 33%;
        left: 85%;
    }

    .clients-techstack-button:first-child {
        position: absolute;
        bottom: 32.5%;
        left: 10%;
    }

    .clients-feedback-quote {
        position: relative;
    }

    .contact-us-body {

    }

    .footer-main {
        display: flex;
        margin: 0 auto;
        width: 100%;
    }

    .about-glint {
        margin-right: 50px;
        width: 50%;
    }

    .notification-and-subscription {
        width: 50%;
    }
}

